<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Shopping cart</title>

    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>

    <div id="home">
        <div class="loader">
            <div class="loader-icon">

            </div>
        </div>

        <template v-if="loaded">
            <nav-main :basketdata="basket.items"></nav-main>
            <div class="container-fluid mainbody-basket">
                <div class="row">

                    <div class="col-12 text-center">
                        <h2>Basket&nbsp;<material-icon :icon="'shopping_basket'"></material-icon></h2>

                        <button type="button" class="btn btn-danger" v-if="basket.items.length > 0" @click="resetBasket">RESET BASKET</button>

                        <br>
                    </div>

                    <template v-if="basket.items.length > 0">
                        <div class="col-12">
                            <br>
                            <basket-table :basketitems="basket.items"></basket-table>
                        </div>

                        <div class="col-12">
                            <hr>
                            <h6><span class="font-weight-bold">Sub Total: £ {{basket.sub_total.toFixed(2)}}</span> </h6>
                            <h6>
                                <template v-if="basket.items.length > 3">
                                    <span class="font-weight-bold">(19%) Discount: </span> <span class="text-danger">£ {{basket.discounted_total}}</span>
                                </template>
                                <template v-else>
                                    <span class="font-weight-bold">(19%) Discount: </span> £ 0.00
                                </template>

                            </h6>
                            <hr>
                            <h4><span class="font-weight-bold">Total: </span> £ {{basket.total}} </h4>
                        </div>
                    </template>
                    <template v-else>
                        <!-- <div class="col-12"> -->
                            <div class="basket-empty">
                                <div class="alert alert-info" role="alert">
                                    There are no items in your basket. View out latest games today
                                </div>
                                <a href="all-products.html" class="btn btn-primary">ADD PRODUCTS</a>
                            </div>
                        <!-- </div> -->
                    </template>

                </div>
            </div>
        </template>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- js -->
    <script src="js/classes.js" charset="utf-8"></script>
    <script src="js/filters.js" charset="utf-8"></script>
    <script src="js/app.js" charset="utf-8"></script>
</body>

</html>
